{{extend 'layout.html'}}
{{if auth.has_membership("edit_inventory"):}}
{{=A(T("Edit Item"), _href=URL('manage','editItem',args=item.id), _style="float: right;")}}
{{pass}}
<h1>{{=item.Name}}</h1>
<table>
<tr>
  <td width="125"><b>{{=db.item.BarCode.label}}:</b></td>
  <td>{{=item.BarCode}}</td>
</tr>
<tr>
  <td><b>{{=db.item.SerialNumber.label}}:</b></td>
  <td>{{=item.SerialNumber}}</td>
</tr>
<tr>
  <td><b>{{=db.item.Category.label}}:</b></td>
  <td>{{=item.Category}}</td>
</tr>
<tr>
  <td><b>{{=db.item.HomeLocation.label}}:</b></td>
  <td>{{=item.HomeLocation}}</td>
</tr>
<tr>
    <td><b>{{=db.item.Status.label}}:</b></td>
    <td>{{=item.Status}}</td>
</tr>
<tr>
  <td><b>{{=db.item.CreationDate.label}}:</b></td>
  <td>{{=item.CreationDate.strftime(DATE_FORMAT)}}</td>
</tr>
<tr>
  <td><b>{{=db.item.Value.label}}:</b></td>
  <td>{{=item.Value}}</td>
</tr>
<tr>
  <td><b>{{=db.item.Condition.label}}:</b></td>
  <td>{{=item.Condition}}</td>
</tr>
<tr>
  <td><b>{{=db.item.Description.label}}:</b></td>
  <td>{{=item.Description}}</td>
</tr>
<tr>
  <td><b>{{=db.item.Comments.label}}:</b></td>
  <td>{{if auth.user:}}{{=item.Comments}}{{else:}}{{=T("Login to view comments")}}{{pass}}</td>
</tr>
<tr>
  <td><b>{{=T("Log")}}:</b></td>
  <td>
  {{if auth.user:}}
    <table>
      {{for log_entry in item.item_log.select():}}
      <tr><td>{{=log_entry.Date.strftime(DATE_FORMAT)}}:</td><td>{{=log_entry.msg}}</td></tr>
      {{pass}}
    </table>
  {{else:}}
  {{=T("Login to View Log")}}
  {{pass}}
  </td>
</tr>
{{if item.CheckedOut:}}
<tr>
  <td><b>{{=db.item.CheckedOut.label}}:</b></td>
  <td>{{=A(db.person._format % item.CheckedOut if auth.user else T("Login to view person"), _href=URL('browse','person', args=item.CheckedOut))}}
  </td>
</tr>
<tr>
  <td><b>{{=db.item.Due.label}}:</b></td>
  <td>{{if item.Due:}}{{=item.Due}} {{if item.Due < request.now.date():}}{{=B(T("Overdue"), _style="color: red; font-weight: bold")}}{{pass}}
  {{else:}}{{=T("No Due Date Specified")}}{{pass}}</td>
</tr>
{{pass}}
</table>
