{{extend 'layout.html'}}
<h1>{{=person.search_name}}</h1>

<table>
<tr>
  <td width=125><b>{{=db.person.First_Name.label}}:</b></td>
  <td>{{=person.First_Name}}</td>
</tr>
<tr>
  <td><b>{{=db.person.Last_Name.label}}:</b></td>
  <td>{{=person.Last_Name}}</td>
</tr>
<tr>
  <td><b>{{=db.person.Email.label}}:</b></td>
  <td>{{=person.Email}}</td>
</tr>
<tr>
  <td><b>{{=db.person.Phone.label}}:</b></td>
  <td>{{=person.Phone}}</td>
</tr>
<tr>
  <td><b>{{=T("Items")}}:</b></td>
  <td>
    <ul>
    {{for item in person.item.select():}}
      <li>{{=A(item.Name, _href=URL("browse","item",args=item.id))}}</li>
    {{pass}}
    </ul>
  </td>
</tr>
</table>
