{{extend 'layout.html'}}

<h1>Welcome to the Inventory System</h1>

<p>
This system is a work in progress.  It should be fairly complete in
the basic requirements.  At the moment Adding inventory, checking in
and out, browsing, and basic reports are done.  Checkin, out, and add
items is now protected, need to get an account with permissions.
</p>

<p>
Reports are still under construction.
</p>
<p>
To be decided, how to delete/remove items while keeping accountability.
</p>

<h2>Recent Activity</h2>
<table>
{{for log_entry in activity:}}
<tr>
  <td>{{=log_entry.Date.strftime(DATE_FORMAT)}}</td>
  <td>{{=A(log_entry.item.Name, _href=URL('browse','item',args=log_entry.item.id))}}</td>
  <td>{{=log_entry.msg}}</td>
</tr>
{{pass}}
</table>
